<div th:fragment="content">
<h4>Φόρμα Δημιουργίας Ραντεβού</h4>

    <form method="post" th:action="@{/appointments}">
        <div class="mb-3">
            <label>Ημερομηνία</label>
            <input type="date" class="form-control" name="date" required>
        </div>

        <div class="mb-3">
            <label>Ώρα</label>
            <input type="time" class="form-control" name="time" required>
        </div>

        <div class="mb-3">
            <label>Υπηρεσία</label>
            <input type="text" class="form-control" name="service" required>
        </div>

        <button class="btn btn-success" type="submit">Αποθήκευση</button>
    </form>
</div>
