<div th:fragment="content">
    <h4>Αναφορά Προβλήματος</h4>

    <form method="post" th:action="@{/issues}">
        <div class="mb-3">
            <label for="type">Τύπος Προβλήματος</label>
            <input id="type" type="text" name="type" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="location">Τοποθεσία</label>
            <input id="location" type="text" name="location" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="details">Λεπτομέρειες</label>
            <textarea id="details" name="details" class="form-control" required></textarea>
        </div>

        <button type="submit" class="btn btn-success">Καταχώρηση</button>
    </form>
</div>
