<!DOCTYPE html>
<html
    xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">

<head>
    <title>Logout</title>
</head>

<body>
<header layout:fragment="header">
    <h2>Logout</h2>
</header>

<section layout:fragment="main">
        <p class="mb-4">Are you sure you want to log out?</p>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-danger px-4">Log out</button>
        </form>

        <p class="mt-4">
            <a th:href="@{/profile}">Back to my Profile</a>
        </p>
</section>
</body>
</html>
