<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base}">

<body>

<div layout:fragment="main">

    <div class="container mt-5">
        <ul class="nav nav-tabs">

            <li class="nav-item">
                <button class="nav-link active"
                        onclick="loadContent('/admin/employees','adminTab')">
                    Υπάλληλοι
                </button>
            </li>

        </ul>

        <div id="adminTab" class="p-4 border bg-white">
            <!-- φορτώνει περιεχόμενο -->
        </div>
    </div>

</div>

</body>
</html>
