<div th:fragment="content">

    <h4>Αναφορές Προβλημάτων</h4>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Τίτλος</th>
            <th>Περιγραφή</th>
            <th>Τοποθεσία</th>
            <th>Κατάσταση</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i : ${issues}">
            <td th:text="${i.id}"></td>
            <td th:text="${i.title}"></td>
            <td th:text="${i.description}"></td>
            <td th:text="${i.location}"></td>
            <td th:text="${i.status}"></td>
        </tr>
        </tbody>
    </table>

</div>
