<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::section})}">

<section>
    <h2>Ραντεβού Πολιτών</h2>

    <table>
        <thead>
        <tr>
            <th>Ημερομηνία</th>
            <th>Ώρα</th>
            <th>Υπηρεσία</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${appointments}">
            <td th:text="${a.date}"></td>
            <td th:text="${a.time}"></td>
            <td th:text="${a.service}"></td>
        </tr>
        </tbody>
    </table>
</section>
</html>
