<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::section})}">

<section>
    <h2>Δηλωμένα Προβλήματα</h2>

    <table>
        <thead>
        <tr>
            <th>Τίτλος</th>
            <th>Περιγραφή</th>
            <th>Τοποθεσία</th>
            <th>Κατάσταση</th>
            <th>Ενέργεια</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="issue : ${issues}">
            <td th:text="${issue.title}"></td>
            <td th:text="${issue.description}"></td>
            <td th:text="${issue.location}"></td>
            <td th:text="${issue.status}"></td>

            <td>
                <form th:action="@{/employee/issues/{id}/status(id=${issue.id})}"
                      method="post">

                    <select name="status">
                        <option th:each="s : ${T(gr.hua.dit.my.city.gov.core.model.IssueStatus).values()}"
                                th:value="${s}"
                                th:text="${s}"
                                th:selected="${s == issue.status}">
                        </option>
                    </select>

                    <button type="submit">Αλλαγή</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</html>
