<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::section})}">

<section>
    <h2>Αιτήματα Πολιτών</h2>

    <table>
        <thead>
        <tr>
            <th>Τίτλος</th>
            <th>Περιγραφή</th>
            <th>Ημερομηνία</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="r : ${requests}">
            <td th:text="${r.title}"></td>
            <td th:text="${r.description}"></td>
            <td th:text="${r.createdAt}"></td>
        </tr>
        </tbody>
    </table>
</section>
</html>
