version: "3.8"

services:
  minio:
    container_name: minio_server
    image: quay.io/minio/minio:RELEASE.2025-07-23T15-54-02Z
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - minio_network
    volumes:
      - minio_data:/data
      - minio_config:/root/.minio
    environment:
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: root1234
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          cpus: "0.5"
          memory: 1G
        limits:
          cpus: "1.0"
          memory: 2G

networks:
  minio_network:
    driver: bridge

volumes:
  minio_data:
    driver: local
  minio_config:
    driver: local
